.inner-wrap{
	display: flex;
	margin-top: 50px;

}
.container{
	margin-left: 300px;
	margin-top: 100px;
}
.label1{
	margin-left: 100px;
}
.label2{
	margin-left: 116px;
}
.label3{
	margin-left: 145px;
}
.space{
	margin-right: 60px;
}
.space1{
	margin-right: 70px;
}
.space2{
	margin-right: 70px;
}
.space4{
	margin-right: 100px;
}
.space5{
	margin-right: 80px;
}
.space3{
	margin-right: 67px;
}
.button{
	border-radius: 12px;
	padding: 10px 24px;
	background-color: #4CAF50;
	color: white;
	border: none;

}
.button-section{
	margin-top: 50px;

}
.button:hover {
  background-color: white; /* Green */
  color: black;
  border: 2px solid #4CAF50;
}